body{
	background-color: #fbf8f8;
}

div.container:nth-child(4){
	margin-bottom:50px;
}
footer {
    background-color: #F3F3F3;
    padding-top: 2px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    left:0px;
    right:0px;
    width:100%;
    margin-bottom:0px;
}
