{% extends "index.html" %}
{% block title %}Add Entry{% endblock %}
{% block content %}

{% block header %}

<h3>Add Payment Record</h3>


{% endblock %}

<div class="container">
	<!-- simple form, to add entry-->
	<form method="post" action="/add_rec" role="form">
		<div class="row">
			<div class="form-group col-xs-4 col-lg-3 ">
				<label>Account: </label>
				<input type="text" id="Account" name="Account" class="form-control" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-4 col-lg-3 ">
				<label>GCR-No: </label>
				<input type="text" id="GCR_No" name="GCR_No" class="form-control" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-4 col-lg-3 ">
				<label>Payments: </label>
				<input type="text" id="Payments" name="Payments" class="form-control" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-4 col-lg-3 ">
				<label>PaymentType: </label>
					<select name="PaymentType" id="PaymentType" name="PaymentType" class="form-control" required>
					    <option value="Cash`">Cash</option>
					    <option value="Cheque">Cheque </option>
  					</select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-4 col-lg-3 ">
				<label>PaidBy: </label>
				<input type="text" id="PaidBy" name="PaidBy" class="form-control" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-4 col-lg-3 ">
				<label>Phone Contact of Person Paying: </label>
				<input type="text" id="PaidByTele" name="PaidByTele" class="form-control" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-5 col-lg-1 ">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
</div>

</div>
<!-- simple form ends -->
{% endblock %}