  <div class="ui main container">
    <h1>Please login</h1>
    <br>
    <form class="ui form" action="" method="post">
      <div class="field">
        <label>Username</label>
        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
      </div>

      <input class="ui button" type="submit" value="Login" size="25">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>


    ////dummy files
    <!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>GSMA Deta</h2>
      <br>
      <p>Click <a href="/">here</a> to go home.</p>
    </div>
  </body>
</html>



//DUMMY
 <div class=metanav>
      {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
      {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}


# engine = create_engine('mssql+pyodbc://scott:tiger@mydsn')
# engine = create_engine("mssql+pyodbc://scott:tiger@myhost:port/databasename?driver=SQL+Server+Native+Client+10.0")
# dialect+driver://username:password@host:port/database

# postgresql://scott:tiger@localhost:port/mydatabase


    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src={{ url_for('static', filename='img/portfolio/cabin.png') }} class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src={{ url_for('static', filename='img/portfolio/cake.png') }} class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src={{ url_for('static', filename='img/portfolio/circus.png') }} class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src={{ url_for('static', filename='img/portfolio/game.png') }} class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src={{ url_for('static', filename='img/portfolio/safe.png') }} class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src={{ url_for('static', filename='img/portfolio/submarine.png') }} class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div>
  <!-- loop for multiple items -->
  {% for i in my_user %}
    <li>{{ i.id }} - {{ i.username }} - {{ i.email }}</li>
  {% endfor %}

  {{ one_item.username }}

  <li>{{ one_item.id }} - {{ one_item.username }} - {{ one_item.email }}</li>
</div>