<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <title>Ndigis GSMA</title> -->

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/freelancer.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <title>{% block title %}Home{% endblock %} - GSMA-Weija</title>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>

<body id="page-top" class="index">
{% block body %}

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="/index"><img src="{{ url_for('static', filename='img/gsma.jpg') }}" alt="GSMA-Logo" style="height: 188%;"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/index">Ndigis GSMA</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                    <!-- search box -->
                        <form class="navbar-form" role="search" action="/search" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="search" value="{{ request.form.search }}">
                                <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </li>
                    
                    </li>
                    <li class="page-scroll">
                        <a href="/add_rec">Add Entry</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% block header %}
    <!-- Header -->
    <header>
        <div class="container style="margin-bottom: 50px;"
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src={{ url_for('static', filename='img/profile.png') }} alt="">
                
                    <div class="intro-text">
                        <span class="name">Ndigis-GSMA</span>
                        <hr class="star-light">
                        <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

<!-- inheritance starts here -->
{% endblock %}

</body>
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Ndigis LTD 2016 | By <a href="http://saviour123.github.io" title="">saviour gidi</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}
    <!-- jQuery -->
    <script src={{ url_for('static', filename="vendor/jquery/jquery.min.js") }}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src={{ url_for('static', filename="vendor/bootstrap/js/bootstrap.min.js") }}></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src={{ url_for('static', filename="js/jqBootstrapValidation.js") }}></script>
    <script src={{ url_for('static', filename="js/main.js") }}></script>
    <script src={{ url_for('static', filename="js/contact_me.js") }}></script>
    <script src={{ url_for('static', filename="js/freelancer.min.js") }}></script>


</html>
