<!DOCTYPE html>
<html lang="en">
<head>

	{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Home{% endblock %} - GSMA-Weija</title>
    {% endblock %}
	<link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>
<body>

<!-- <div class="ui teal three item inverted menu">
  <a class="active item">Home</a>
  <a class="item">Messages</a>
  <a class="item">Friends</a>
</div> -->
	{% block title %}
	<h1>Please Login</h1>
		<form action="/msg/loginauth/" method="post">
		    Login:
		    <br><br>
		    <input type="text" name="username" placeholder="Username">
		    <br>
		    <input type="password" name="password" placeholder="Password">
		    <br><br>
		    <input type = "submit" value = "Submit">
	  	</form>
	  	
    <script src={{ url_for('static', filename="js/main.js") }}></script>
    {% endblock %}
</body>
</html>
