<!DOCTYPE html>
<head>
  <title> Welcome - login page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_css.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/semantic.css') }}" media="screen">
</head>


<body style="background-image: url('/static/img/bg.jpg');"> 
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap">
          <p class="form-title"> Sign In</p>
          <hr>
          <form class="login" action="" method="post">
            <input type="text" placeholder="username" name="username" value="{{ request.form.username }}"/>
            <input type="password" placeholder="password" name="password" value="{{ request.form.password }}"/>
            <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
          </form>
          <hr>
        </div>

        <!-- for rendering errors -->
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
      </div>
  </div>
</div>
<script src={{ url_for('static', filename="js/login_js.js") }}></script>
</body>
</html>