{% extends "index.html" %}
{% block title %}Add Entry{% endblock %}
{% block content %}

{% block header %}

<h3>Add Payment Record</h3>


{% endblock %}

<div class="container">
	<div>
	{% for i in search_tag %}
		<h4>{{ i.id }} - {{ i.Account }} - {{ i.Payments }}</h4>
		<span><h3>Name: {{ i.OwnerName }}</h3></span>
		<span>Account Number: {{ i.Account }}</span>
		<div>
			Address: {{ i.Address }} <span>Suburb: {{ i.Suburb }}</span><br>

		</div>
	
		{{ i.RateableV }} <br>
		{{ i.Zone }} <br>
		{{ i.Use_ }} <br>
		{{ i.Rate }} <br>
		{{ i.CurrentTax }} <br>
		{{ i.Arrears }} <br>
		{{ i.Telephone }} <br>
		{{ i.Email }}
		{{ i.Discount }}
		{{ i.PictureURL }}
	</div>
	<br>
	http://placehold.it/350x150
	<!-- picture of property -->
	<div style="border: 2px teal">
		<img src="http://placehold.it/350x150" alt="Image is here">
	</div>


	{% endfor %}





	{% if error %}
	<p class="error" style="color: teal" align="center"><strong>Error:</strong> {{ error }}</p>
	{% endif %}
</div>
<!-- simple form ends -->
{% endblock %}