{% extends "index.html" %}
{% block title %}Add Entry{% endblock %}
{% block content %}

{% block header %}

<h3>Add Payment Record</h3>


{% endblock %}

<div class="container">
	<div>
		{% for i in search_tag %}
		<div class="row">
		<!-- search result here, text -->
  			<div class="col-xs-12 col-sm-6 col-md-8">
  				<table class="table table-striped">
					<!--   <thead>
					    <tr>
					      <th>#</th>
					      <th>First Name</th>
					      <th>Last Name</th>
					      <th>Username</th>
					    </tr>
					</thead> -->
					<tbody>
						<tr>
							<th scope="row"><b>Name: </b></th>
							<td>{{ i.OwnerName }}</td>
						</tr>
						<tr>
							<th scope="row"><strong>Account Number: </strong></th>
							<td>{{ i.Account }}</td>
						</tr>
						<tr>
							<th scope="row"><strong>Suburb: </strong></th>
							<td>{{ i.Suburb }}</td>
						</tr>
						<tr>
							<th scope="row"><strong>Ratetable Value: </strong></th>
							<td>{{ i.RateableV }}</td>
						</tr>
						<tr>
							<th scope="row"><strong>Zone: </strong></th>
							<td>{{ i.Zone }}</td>
						</tr>
						<tr>
							<th scope="row"><strong>Use: </strong></th>
							<td>{{ i.Use_ }}</td>
						</tr>
						<tr>
							<th scope="row"><strong>Rate: </strong></th>
							<td>{{ i.Rate }}</td>
						</tr>
						<tr>
							<th scope="row"><strong>Current Tax: </strong></th>
							<td>{{ i.CurrentTax }}</td>
						</tr>
						<tr>
							<th scope="row"><strong>Arrears: </strong></th>
							<td>{{ i.Arrears }}</td>
						</tr>
						<tr>
							<th scope="row"><strong>Telephone: </strong></th>
							<td>{{ i.Telephone }}</td>
						</tr>
						<tr>
							<th scope="row"><strong>Email: </strong></th>
							<td>{{ i.Email }}</td>
						</tr>
						<tr>
						<th scope="row"><strong>Suburb: <strong></th>
							<td>{{ i.Suburb }}</td>
						</tr>
					</tbody>
				</table>	
  			</div><!-- table div ends -->
  			<!-- image div begins -->
	
  			<div class="col-xs-6 col-md-4">
  				<img src="{{ i.PictureURL }}" alt="Image is here">
  			</div>
		{% endfor %}
		{% if error %}
			<p class="error" style="color: teal" align="center"><strong>Error:</strong> {{ error }}</p>
		{% endif %}
	</div>
	<!-- simple form ends -->
	{% endblock %}	
