<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Welcom- GSMA</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style/semantic.css') }}">
</head>
<body style="background-image: url('/static/img/wood.jpg');">

<div class="login_btn">
	<!-- <button class="ui purple button">Purple</button> -->
	<button class="ui huge black button"><a href="{{ url_for('login') }}">Login</a></button>	
</div>
	
</body>
</html>