<!DOCTYPE html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/welcome.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/semantic.css') }}">
  {% if title %}
  <title>{{ title }} - GSMA-Portal</title>
  {% else %}
  <title>Welcome to GSMA</title>
  {% endif %}
</head>
<body>
<!-- menu things -->
  <div class="ui menu">
    <a class="item">Home</a>
    <div class="right menu">
      <a href="/logout" class="item">Logout</a>
    </div>
  </div>

<!-- the main Body -->
<div class="container">
  <h1>GSMA-PORTAL</h1>
  {% block content %}
  <div class="ui two column grid">
    <div class="column">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>  
    <div class="column">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

  </div>
</div><!-- container ends -->
{% endblock %}
</body>
</html>

